<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.milan.rezervacni_formular" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RezervaceActivity" >
        </activity>
        <activity
            android:name=".SluzbyActivity"
            android:label="@string/title_activity_sluzby"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".PokojeActivity" >
        </activity>
        <activity android:name=".OHoteluActivity" >
        </activity>
        <activity android:name=".KontaktyActivity" >
        </activity>
        <activity android:name=".ObycejnePokojeActivity" >
        </activity>
        <activity android:name=".LuxusniPokojeActivity" >
        </activity>
    </application>

</manifest>
